.contenedor-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-container{
    display: flex;
    gap: 8rem;
    align-items: inherit; /* opcional */
}
.lista-flex{
    display: flex;
    gap:1rem;
    list-style-type: none;
    margin-right: 1rem;
}

a{
    text-decoration: none;
    color:white;
}

.activo{
    color:yellowgreen;
}
h2{
    padding: 0 1rem;
    font-size: 2rem;
}
ul{
    padding: 0 1rem;
}
@media screen and (max-width: 400px) {
    .contenedor-flex{
        display:block;
    }
    .lista-flex{
        display:block;
    }
    h2,li{
        margin:1rem 0;
    }
}