table{
    width: 100%;
}
table td,th{
    background-color: #eee;
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid #fcf9f9;

}
.buttons a{
    text-decoration: none;
    border:1px solid green;
    color:white;
    background-color: green;
    padding: 0.5rem;
    margin:0.5rem;
}
.buttons a.btn-edit{
    border:1px solid orange;
    background-color: orange;
}
.buttons a.btn-delete{
    border:1px solid red;
    background-color: red;
}