<section>
    <h1>Todas las tareas</h1>
    <table>
        <tr>
            <th>Tarea</th>
            <th>Prioridad</th>
            <th>Horas presupuestadas</th>
            <th>Acciones</th>
        </tr>
        @for(tarea of tareas; track tarea.id){
        <tr>
            <td>{{tarea.title}}</td>
            <td>{{chPriority(tarea.priority)}}</td>
            <!--<td>
                @if(tarea.priority==='hight'){
                    Alta
                }
                @if(tarea.priority==='medium'){
                    Media
                }
                @if(tarea.priority==='low'){
                    Baja
                }
            </td>-->
            <td>{{tarea.hours}}</td>
            <td class="buttons">
                <a [routerLink]="['/detalle/',tarea.id]">Ver</a>
                <a href="" class="btn-edit">Editar</a>
                <a href="" class="btn-delete">Eliminar</a>
            </td>
        </tr>
        }
    </table>
</section>